@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

*{
    font-family: "Outfit", sans-serif;
}
.custom-toast {
  background: linear-gradient(135deg, #ff7eb9, #ff65a3) !important;
  color: white !important;
  font-weight: 600 !important;
  border-radius: 12px !important;
  box-shadow: 0px 4px 10px rgba(255, 105, 180, 0.3) !important;
  font-family: "Poppins", sans-serif !important;
}

.Toastify__progress-bar {
  background: white !important;
}

.Toastify__toast-icon svg {
  fill: #fff !important;
}

.Toastify__toast--warning {
  background: #ffb6c1 !important;
  color: #fff !important;
  font-weight: 600 !important;
}


